[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
librosa = "*"
numpy = "*"
sklearn = "*"
numba = "==0.48"
SoundFile = "*"
matplotlib = "*"
flask = "*"

[dev-packages]

[requires]
python_version = "3.7"
